body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.user__wrapper {
  border-radius: 19% 81% 50% 50% / 44% 57% 43% 56%;
  height: min-content;
  width: fit-content;
  padding: 6rem;
  background: linear-gradient(.25turn, #00ff87, 10%, #60efff);
}

.wrapper__image {
  border-radius: 74% 26% 73% 27% / 22% 58% 42% 78%;
}

.wrapper__text {
  margin: 1rem 0rem;
  font-weight: bold;
}